{% extends "base.html" %}
{% load twentry_tags %}
{% load pagination_tags %}

{% block title %}Public Timeline - {{ block.super }}{% endblock %}

{% block main_content %}
	<h1>Twango</h1>
	
	{% if user.is_authenticated %}
	<form method="POST" action="{% url create_twentry %}">
		<fieldset>
			<legend>What say you?</legend>
			<ul>
				{{ form.as_ul }}
			</ul>
			<input type="submit" value="Update" />
		</fieldset>
	</form>
	{% endif %}
	
	<ol id="timeline">
		{% autopaginate twentries 10 %}
		{% for t in twentries %}
			<li>
				{% twentry t %}
			</li>
		{% endfor %}
	</ol>
	<div class="paging">
		{% paginate %}
	</div>
{% endblock %}
