{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}Public Timeline - {{ block.super }}{% endblock %}

{% block main_content %}
	<h1>Twango</h1>
	
	<form method="POST" action="/twentries/create/"> <!-- TODO call url reverse -->
		<fieldset>
			<legend>What say you?</legend>
			<ul>
				{{ form.as_ul }}
			</ul>
			<input type="submit" value="Update" />
		</fieldset>
	</form>
	
	<ol id="timeline">
		{% autopaginate twentries 5 %}
		{% for entry in twentries %}
			<li>
				<strong>{{ entry.user.username }}</strong> said:
				{{ entry.content }}
				<em>{{ entry.date_posted }}</em>
			</li>
		{% endfor %}
	</ol>
	<div class="paging">
		{% paginate %}
	</div>
{% endblock %}
