{% load profile_tags %}
<!doctype html>
<html>
<head>
	<title>{% block title %}Twango{% endblock %}</title>
	<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/twango.css" />
	{% block extra_head %}{% endblock %}
</head>
<body>
<div id="pg">
	<div id="hd">
	<a href="/">Home</a>
		{% if user.is_authenticated %}
			<a href="{% url auth_logout %}">Logout</a>
		{% else %}
			<a href="{% url auth_login %}">Login</a>
			<a href="/accounts/register">Register</a>
		{% endif %}
		{% block messages %}
	        {% if messages %}
	            <ul class="messages">
	                {% for message in messages %}
	                <li><span>{{ message }}</span></li>
	                {% endfor %}
	            </ul>
	        {% endif %}
	    {% endblock %}
	</div>
	<div id="bd">
		<div id="content">
			{% block main_content %}{% endblock %}
		</div>
		<div id="sd">
			{% if user.is_authenticated %}
				{% person user %}
				<ul>
					<li>
						<a href="{% url sg_find_add %}">Find and Add Friends</a>
					</li>
					<li>
						<a href="{% url sg_followers user.username %}">People You Follow</a>
					</li>
					<li>
						<a href="{% url sg_following user.username %}">People Following You</a>
					</li>
					<li>
						<a href="{% url sg_mutual user.username %}">Mutual Friends</a>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
	<div id="ft">
		<a href="http://github.com/rlr/twango/tree/master">Open Source</a>
	</div>
	{% block extra_body %}{% endblock %}
</div>
</body>
</html>